@model MundoJoven.Models.Note

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Note</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_creation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_creation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_publish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_publish)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
